<section id="benefits">
  <div class="container">

    <div class="col-md-8 col-md-offset-2">
      <h3>Durante a Hackathon, poderás beneficiar de:</h3>
    </div>

    <div class="col-md-12">
      <div class="col-md-4 icons-space">
        <i class="fas fa-book-reader fa-5x" aria-hidden="true"></i>
        <h4>Palestras e Workshops</h4>
        <h6>
          Eleva as tuas skills ao próximo nível participando
          nas várias palestras e workshops que temos preparadas
          para ti.
        </h6>
      </div>

      <div class="col-md-4 icons-space">
        <i class="fas fa-users fa-5x" aria-hidden="true"></i>
        <h4>Mentores</h4>
        <h6>
          De diferentes áreas da indústria, poderás contar com conselhos de
          vários profissionais experientes.
        </h6>
      </div>

      <div class="col-md-4 icons-space">
        <i class="fas fa-home fa-5x" aria-hidden="true"></i>
        <h4>100% digital</h4>
        <h6>
          Todas as atividades decorrerão em plataformas
          digitais, para que possas aproveitar a
          segurança e conforto da tua casa!
        </h6>
      </div>
    </div>

  </div>
</section>