<header id="heartbits-header">
  <div class="header-body">
    <div class="container">
      <div class="row header-banner">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 venter">

          {% image banner.png class:'brand img-responsive' %}

        </div>
      </div>

      <div class="row header-date">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 venter">
          <h2>
            31 de outubro - 1 de novembro
          </h2>
        </div>
      </div>

      <div class="row header-powered">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 venter">
          <h3 class="powered-subtitle">powered by</h3>

          <div class="container powered-container">
            <div class="row vertical-middle">
              <div class="powered-img left-img">
                {% image sponsors/msd-white-slogan.png class:'partner-img img-responsive center-block' %}
              </div>
              <div class="powered-img right-img">
                {% image sponsors/pfizer-white.png class:'partner-img img-responsive center-block' %}
              </div>
            </div>
          </div>

          <div id="clock"></div>
        </div>
      </div>
    </div>
  </div>
</header>