<section id="contacts">
    <div class="container ">
          <div class="col-sm-2 icons-space vcenter">
            <i class="fab fa-facebook fa-5x" aria-hidden="true"></i>
            <h4>Facebook</h4>
            <h6>
                <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/HackathonHeartbits">HackathonHeartbits</a>
            </h6>
          </div>
          <div class="col-sm-2 icons-space vcenter">
            <i class="fab fa-instagram fa-5x" aria-hidden="true"></i>
            <h4>Instagram</h4>
            <h6>
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/hackathon_heartbits/">@hackathon_heartbits</a>
            </h6>
          </div>
          <div class="col-sm-2 icons-space vcenter">
            <i class="fas fa-envelope fa-5x" aria-hidden="true"></i>
            <h4>Email</h4>
            <h6>
                <a target="_blank" rel="noopener noreferrer" href="mailto:imagem@anem.pt">imagem@anem.pt</a>
                <a target="_blank" rel="noopener noreferrer" href="mailto:comunicacao@anem.pt">comunicacao@anem.pt</a>
                <a target="_blank" rel="noopener noreferrer" href="mailto:cesium@di.uminho.pt">cesium@di.uminho.pt</a>
            </h6>
          </div>
    </div>
</section>